
#login .container #login-row #login-column #login-box {
  max-width: 500px;
  height: 320px;
  border: 1.3px solid 	#000000;
  /* background-color: #EAEAEA; */
  background-color: #2D94C8;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

 .submit-btn{
  background-color: #000000;
  color: #fcfafa;
  border: 0.5px solid #fcfafa;
}
